# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/GameButtonObserver.class
/GridSpace.class
/GridSpaceButton.class
/GridSpaceObserver.class
/IntermediateView.class
/Main.class
/MenuBeginnerObserver.class
/MenuExpertObserver.class
/MenuIntermediateObserver.class
/MenuNewObserver.class
/Resources.class
/SaveBeginnerTime.class
/SaveExpertTime.class
/SaveIntermediateTime.class
/SaveTime.class
/SaveTimeFactory.class
/Settings.class
/View$1.class
/View$2.class
/View$3.class
/View.class
/BestTimes.class
/BestTimesManager.class
/Controller.class
/ExpertView.class
